<div id='category_list'>
	
	<% if user_signed_in? && current_user.categories.empty? == false %>
		<div id="user_categories"><h6>Your Categories</h6>
		<% @user_categories.each do |c| %>
			<a href="/c/<%= c.name %>"><%= c.name %></a><br/>
		<% end %></div>
		<h6>Other Categories</h6>
		<% @categories.each do |c| %>
			<a href="/c/<%= c.name %>"><%= c.name %></a><br/>
		<% end %>
	<% else %>
		<h6>Categories</h6>
		<% @categories.each do |c| %>
			<a href="/c/<%= c.name %>"><%= c.name %></a><br/>
		<% end %>
	<% end %>
	
	<% if current_user %>
		<%= link_to "New Category", :new_category, {:class => "btn", :id => "new_category_button"} %>
	<% end %>
</div>