<h2>New Category</h2>
<br/>
<%= form_tag("/c/create", method: "post") do %>
	<%= label_tag(:name, "Name:") %>
	<%= text_field_tag(:name, "", {:class => "input-xxlarge", placeholder: "Category name..." }) %><br/>

  	<%= label_tag(:description, "Description:") %>
	<%= text_area_tag(:description, "" , {rows: 3, :class => "input-xxlarge", placeholder: "Category description..."}) %><br/>

	<%= submit_tag("Submit") %>
<% end %>
