<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, :class => 'formLabel' %><br />
  <%= f.email_field :email %></div>

  <div class='deviseFormComponent'><%= f.label :password, :class => 'formLabel'  %><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div class='deviseFormComponent'><%= f.label :password_confirmation, :class => 'formLabel'  %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class='deviseFormComponent'><%= f.label :current_password, :class => 'formLabel'  %><br />
  <%= f.password_field :current_password %></div>

  <div class='deviseFormComponent'><%= f.submit "Update" %></div>
<% end %>

