<div>
	<h2 style='float: left'><%= @name %></h2>
	<% if @is_moderator != nil %>
		<a href="/c/edit/<%= @name %>", class="btn btn-primary" id="edit_category_button"><i class='icon-edit icon-white'></i>&nbsp;Edit</a>
	<% end %>
	<% if @is_subscriber %>
		<div id="subscribe_button" class="subscribe_button" data-category="<%= @name %>" data-action="unsubscribe"><a href="", class="btn btn-danger"><i class='icon-minus icon-white'></i>&nbsp;Unsubscribe</a></div>
	<% elsif current_user %>
		<div id="subscribe_button" class="subscribe_button" data-category="<%= @name %>" data-action="subscribe"><a href="", class="btn btn-success"><i class='icon-plus icon-white'></i>&nbsp;Subscribe</a></div>
	<% end %>
</div>
<%= render "links" %>