<h1>Update Your Bookmark</h1>
<br/>
<%= form_tag("/bookmark/update", method: "post") do %>
  	<%= hidden_field_tag(:id, @bookmark.id) %>

	<%= label_tag(:title, "Title:") %>
	<%= text_field_tag(:title, @bookmark.title) %><br/>

  	<%= label_tag(:url, "URL:") %>
	<%= text_field_tag(:url, @bookmark.url) %><br/>
	
	<%= label_tag(:category, "Category:") %>
	<%= select_tag(:category, options_from_collection_for_select(@categories, "id", "name", @selected.id)) %><br/>

	<%= submit_tag("Update") %>
<% end %>
