<h1><%= @user %>'s Bookmarks</h1>
<br/>
<table class='table'>
<% @results.each do |x| %>
	<tr><td><a href='<%= x[:url] %>'><%= x[:title] %></a></td><td><a href="<%= x[:user_url] %>"><%= x[:name] %></a></td></tr>
<% end %>
</table>