<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {id: 'registrationForm'}) do |f| %>
  <div id='firstComponent'><%= f.label :email, :class => 'formLabel' %><br />
  <%= f.email_field :email %></div>

  <div class='registrationComponent'><%= f.label :password, :class => 'formLabel' %><br />
  <%= f.password_field :password %></div>
  <br/>
  <div class='registrationComponent'><%= f.submit "Sign in" %></div>
<% end %>
